input {
  jdbc {
    jdbc_driver_class => "com.microsoft.sqlserver.jdbc.SQLServerDriver"
    jdbc_connection_string => "jdbc:sqlserver://sql1:1433;encrypt=false;databaseName=AdventureWorks2017;user=sa;password=qweQWE123"
    jdbc_user => "sa"
    jdbc_password => "qweQWE123"
    jdbc_paging_enabled => true
    schedule => "*/59 * * * * *"
    statement => "SELECT [ProductID] as id , 
       [Name]
      ,[ProductNumber]
      ,[MakeFlag]
      ,[FinishedGoodsFlag]
      ,[Color]
      ,[SafetyStockLevel]
      ,[ReorderPoint]
      ,[StandardCost]
      ,[ListPrice]
      ,[Size]
      ,[SizeUnitMeasureCode]
      ,[WeightUnitMeasureCode]
      ,[Weight]
      ,[DaysToManufacture]
      ,[ProductLine]
      ,[Class]
      ,[Style]
      ,[ProductSubcategoryID]
      ,[ProductModelID]
      ,[SellStartDate]
      ,[SellEndDate]
      ,[DiscontinuedDate]
      ,[rowguid]
      ,[ModifiedDate] FROM [Production].[Product]"
    tracking_column => "ProductID"
    tracking_column_type => "numeric"
    use_column_value => true
    lowercase_column_names => true
  }
  
}

output {
  stdout { codec => json_lines }
  elasticsearch {
    hosts => ["elasticsearch:9200"]
    index => "inx_product"
    doc_as_upsert => true
    document_id => "%{id}"
  }
}